.container{
    width: 800px;
    margin: auto;
    color: darkcyan;
}

.container h1{
    text-align: center;
    font-weight: 100;
}

.inp-form, #list{
    font-size: 30px;
    background: #ffffff !important;
    padding: 20px;
    box-shadow: 3px 6px 11px 1px rgba(0,0,0,0.5);
}
.inp-form{
    border-radius: 3px 3px 0 0;
}
#list{
    padding-bottom: 10px;
}
.form input {
    border: none;
    font-size: 30px;
    padding: 5px 20px;
}

input:-webkit-autofill{
      box-shadow:inset 0 0 0 1000px #ffffff;
}
input:active{
    border: none;
}
input {
    outline:none;
}
.form{
    padding-left: 60px;
    margin: 10px;
}

#taskInput{
    color: #4d4d4d;
    min-width: 500px;
}
#addTaskButton, .btn-delete{
    background: #9dd8d8;
    color: #000000;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
}
#addTaskButton:hover, .btn-delete:hover{
    background: #4dbaba;
}
.task{
    padding: 10px;
    margin: 10px 10px;
    border-bottom: 1px solid #808080;
    display: flex;
}
/* When clicked on, add a background color and strike out text */
.checked {
    text-decoration: line-through;
    color: #80808096;
}

.task .text{
    flex: 1 1 0;
}
            
#list{
    min-height: 50px;
}
#footer{
    background: #ffffff !important;
    padding: 3px 20px;
    border-radius: 0 0 3px 3px;
    box-shadow: 3px 6px 11px 1px rgba(0,0,0,0.5);
    font-size: 20px;
}